<!DOCTYPE html>
<html>
  <head>
    <title>Media Recorder in Javascript</title>
    <link rel="stylesheet" href="begin.css">
    
  </head>
  <style>
      .button {
 		 background-color: #4CAF50;
 		 border: none;
 		 color: white;
 		 padding: 15px 32px;
 		 text-align: center;
 		 text-decoration: none;
 		 display: inline-block;
 		 font-size: 16px;
 		 margin: 4px 2px;
 		 cursor: pointer;
	}    
  .container1 {   
       		 padding: 25px;   
        	 background-color: lightblue;  
    	}
  </style>
  <body>
    <div class ="container1" ><p1>What Are The Roles Played By A Business Administrator?
</p1></div>
    <div id="container">
      <video id="gum" playsinline autoplay muted></video>
      <video id="recorded" playsinline loop></video>
    
      <h3 id="gesture"> </h3>
   
        
      

      <div>
        <h4> to start video --></h4>
        <button id="start">Start camera</button>
        <button id="record" disabled>Record</button>
        <button id="play" disabled>Play</button>
        <button id="download" disabled>Download my response</button>
        <label for="myfile">Select a file:</label>
        <input type="file" id="video" name="myfile">
        <button id="analyze">Analyze</button>
      </div>
      

      <div>
        <h4>Media Stream Constraints options</h4>
        <p>
          Echo cancellation: <input type="checkbox" id="echoCancellation" />
        </p>
      </div>

      <div>
        <span id="errorMsg"></span>
      </div>
    </div>
    <nav>
        <a href="course.html" class="button">back </a>
    </nav>
    <nav>
        <a href="bba_ques_c.html" class="button">submit </a>
    </nav>
  </body>
  <script>
      let mediaRecorder;
let recordedBlobs;

const errorMsgElement = document.querySelector("span#errorMsg");
const recordedVideo = document.querySelector("video#recorded");
const recordButton = document.querySelector("button#record");
const playButton = document.querySelector("button#play");
const downloadButton = document.querySelector("button#download");
const analyzeButton = document.querySelector("button#analyze");
const videoFileInput = document.querySelector("input#video");
const gesture = document.querySelector("h3#gesture");

analyzeButton.addEventListener("click", () => {
  var video = videoFileInput.files[0];

  var videoData = new FormData();
  videoData.append("video", video);
  fetch("http://localhost:5000/upload-video", {
    method: "POST",
    body: videoData,
  })
    .then((response) => response.json())
    .then((data) => {
      console.log(data);
      gesture.innerHTML = "Gesture: " + data.gesture;
      var r = Math.floor(Math.random() * 2) + 1;
      window.location.href = "bba_result_b" + r + ".html";
    })
    .catch((err) => console.log("Error: ", err));
  console.log(video);
});

recordButton.addEventListener("click", () => {
  if (recordButton.textContent === "Record") {
    startRecording();
  } else {
    stopRecording();
    recordButton.textContent = "Record";
    playButton.disabled = false;
    downloadButton.disabled = false;
  }
});

playButton.addEventListener("click", () => {
  console.log("URL", "sucks");
  const superBuffer = new Blob(recordedBlobs, { type: "video/webm" });
  recordedVideo.src = null;
  recordedVideo.srcObject = null;
  recordedVideo.src = window.URL.createObjectURL(superBuffer);
  recordedVideo.controls = true;
  recordedVideo.play();
});

downloadButton.addEventListener("click", () => {
  const blob = new Blob(recordedBlobs, { type: "video/mp4" });
  const url = window.URL.createObjectURL(blob);

  const a = document.createElement("a");
  a.style.display = "none";
  a.href = url;
  a.download = "test.mp4";
  document.body.appendChild(a);
  a.click();

  console.log(a);
  setTimeout(() => {
    document.body.removeChild(a);
    window.URL.revokeObjectURL(url);
  }, 100);
});

function handleDataAvailable(event) {
  console.log("handleDataAvailable", event);
  if (event.data && event.data.size > 0) {
    recordedBlobs.push(event.data);
  }
}

function startRecording() {
  recordedBlobs = [];
  let options = { mimeType: "video/webm;codecs=vp9,opus" };
  try {
    mediaRecorder = new MediaRecorder(window.stream, options);
  } catch (e) {
    console.error("Exception while creating MediaRecorder:", e);
    errorMsgElement.innerHTML = `Exception while creating MediaRecorder: ${JSON.stringify(
      e
    )}`;
    return;
  }

  console.log("Created MediaRecorder", mediaRecorder, "with options", options);
  recordButton.textContent = "Stop Recording";
  playButton.disabled = true;
  downloadButton.disabled = true;
  mediaRecorder.onstop = (event) => {
    console.log("Recorder stopped: ", event);
    console.log("Recorded Blobs: ", recordedBlobs);
  };
  mediaRecorder.ondataavailable = handleDataAvailable;
  mediaRecorder.start();
  console.log("MediaRecorder started", mediaRecorder);
}

function stopRecording() {
  mediaRecorder.stop();
}

function handleSuccess(stream) {
  recordButton.disabled = false;
  console.log("getUserMedia() got stream:", stream);
  window.stream = stream;

  const gumVideo = document.querySelector("video#gum");
  gumVideo.srcObject = stream;
}

async function init(constraints) {
  try {
    const stream = await navigator.mediaDevices.getUserMedia(constraints);
    handleSuccess(stream);
  } catch (e) {
    console.error("navigator.getUserMedia error:", e);
    errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
  }
}

document.querySelector("button#start").addEventListener("click", async () => {
  const hasEchoCancellation =
    document.querySelector("#echoCancellation").checked;
  const constraints = {
    audio: {
      echoCancellation: { exact: hasEchoCancellation },
    },
    video: {
      width: 1280,
      height: 720,
    },
  };
  console.log("Using media constraints:", constraints);
  await init(constraints);
});

  </script>
</html>